{% extends 'home.html' %}

{% block style %}
<style>
    td{
        text-align: left;
        word-wrap: break-word;
    }
</style>
{% endblock %}

{% block content %}
    <div  class="container">
        <h1 class="text-center display-4">Hello!</h1>
        <table class="table table-bordered text-center" cellspacing="0" cellpadding="0" style="border: none; table-layout: fixed;">
            <tr>
                <td class="align-middle">Nama Pengguna</td>
                <td class="align-middle">{{ nama_pengguna }}</td>
            </tr>
            <tr>
                <td class="align-middle">No Telepon</td>
                <td class="align-middle">{{ no_telepon }}</td>
            </tr>
            {% if role == "Konsumen" %}
            <tr>
                <td class="align-middle">Jenis Kelamin</td>
                <td class="align-middle">{{ jenis_kelamin }}</td>
            </tr>
            <tr>
                <td class="align-middle">Tanggal Lahir</td>
                <td class="align-middle">{{ tgl_lahir }}</td>
            </tr>
            <tr>
                <td class="align-middle">Alamat</td>
                <td class="align-middle">
                    {% for alamat in alamat_list %} 
                        {{ alamat }} 
                        <br>
                    {% endfor %}
                </td>
            </tr>
            {% elif role == "Kurir" %}
            <tr>
                <td class="align-middle">Nama Perusahaan</td>
                <td class="align-middle">{{ nama_perusahaan }}</td>
            </tr>
            {% elif role == "CS" %}
            <tr>
                <td class="align-middle">No KTP</td>
                <td class="align-middle">{{ no_ktp }}</td>
            </tr>
            <tr>
                <td class="align-middle">Nomor SIA</td>
                <td class="align-middle">{{ no_sia }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="align-middle">Role</td>
                <td class="align-middle">{{ role }}</td>
            </tr>


            

        </table>
    </div>

{% endblock %}