body {
  margin:0;
  overflow: hidden;
  font-size:0;
}

canvas {
  width: 100vw;
  height: 100vh;
}

input {
  width: 250px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 35px;
  left: calc(50% - 125px);
  background: none;
  color: white;
  font-size: 30px;
  font-family: arial;
  text-align: center;
  border: 1px solid white;
  background: rgba(255,255,255,0.2);
}

#info {
  position: fixed;
  left: 0;
  bottom:5px;
  z-index:10;
  font-size:16px;
  font-family: Helvetica, Verdana, sans-serif;
  width: 100%;
  height: 45vh;
  text-align: center;
  margin: 0;
}

#info h1 {
  padding-bottom: 8px;
}

#info hr {
  width: 63%;
  border-width: 2px;
}