{% extends 'home.html' %}

{% block title %}Update List Produk Dibeli{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Form Update List Produk Dibeli</h1>
        <br>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <h5 class="alert-heading">ERROR: Gagal melakukan update List Produk Dibeli</h5>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <br>
        <form method="POST" action="{% url 'pd-update-submit' transaksilama=data.3 %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <label for="produk" class="col-sm-3 col-form-label">ID Produk: </label>
                <div class="col-sm-3"><input type="text" id="produk" class="form-control" name="produk"
                                             value="{{ data.2 }}" readonly></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="apotek" class="col-sm-3 col-form-label">ID Apotek: </label>
                <div class="col-sm-3"><input type="text" id="apotek" class="form-control" name="apotek"
                                             value="{{ data.1 }}" readonly></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="transaksi" class="col-sm-3 col-form-label">ID Transaksi Pembelian:</label>
                <div class="col-sm-3">
                    <select name="transaksi" class="form-control" id="transaksi">
                        {% for idtransaksi in list_idtransaksi %}
                            <option>{{ idtransaksi }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="jumlah" class="col-sm-3 col-form-label">Jumlah: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="jumlah" name="jumlah"
                                             value="{{ data.0 }}"></div>
            </div>
            <br>
            <div class="col text-center">
                <input type="submit" class="btn btn-info btn-sm text-center" value="Update">
            </div>
        </form>
    </div>
{% endblock %}