{% extends 'home.html' %}

{% block title %}Daftar Produk Dibeli{% endblock %}

{% block content %}
    <div class="px-4">
        <h1 class="text-center display-4">List Produk Dibeli</h1>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center align-middle" scope="col">Jumlah</th>
                    <th class="text-center align-middle" scope="col">ID Apotek</th>
                    <th class="text-center align-middle" scope="col">ID Produk</th>
                    <th class="text-center align-middle" scope="col">ID Transaksi Pembelian</th>
                    {% if 'admin_apotek' in request.session.role %}
                        <th class="text-center align-middle" scope="col">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        {% for col in row %}
                            <td>
                                {% if col %}
                                    {{ col }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% if 'admin_apotek' in request.session.role %}
                            <td class="align-middle">
                                <a class="btn btn-info btn-sm"
                                   href="{% url 'pd-update' apotek=row.1 produk=row.2 transaksi=row.3 %}" role="button">Update</a>
                                <a class="btn btn-danger btn-sm"
                                   href="{% url 'pd-delete' apotek=row.1 produk=row.2 transaksi=row.3 %}" role="button">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}