{% extends 'home.html' %}

{% block title %}Create List Produk Dibeli{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Form Create List Produk Dibeli</h1>
        <br>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <h5 class="alert-heading">ERROR: Gagal melakukan pembuatan List Produk Dibeli</h5>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <br>
        <form method="POST" action="{% url 'pd-create-submit' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <label for="produk" class="col-sm-3 col-form-label">ID Produk:</label>
                <div class="col-sm-3"><select class="form-control" id="produk" name="produk" onchange="showApotek()">
                    {% for id_produk in list_idproduk %}
                        <option>{{ id_produk }}</option>
                    {% endfor %}
                </select></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="apotek" class="col-sm-3 col-form-label">ID Apotek:</label>
                <div class="col-sm-3"><select class="form-control" id="apotek" name="apotek">
                    {% for id_apotek in list_idapotek %}
                        <option>{{ id_apotek }}</option>
                    {% endfor %}
                </select></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="transaksi" class="col-sm-3 col-form-label">ID Transaksi Pembelian:</label>
                <div class="col-sm-3"><select class="form-control" id="transaksi" name="transaksi">
                    {% for id_transaksi in list_idtransaksi %}
                        <option>{{ id_transaksi }}</option>
                    {% endfor %}
                </select></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="jumlah" class="col-sm-3 col-form-label">Jumlah: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="jumlah" name="jumlah" placeholder="1">
                </div>
            </div>
            <br>
            <div class="col text-center">
                <input type="submit" class="btn btn-info btn-sm text-center" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}