{% extends 'home.html' %}

{% load static %}

{% block title %}Register {{ role_pendaftaran | title }}{% endblock %}

{% block navbar %}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/animate.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="min-height:100vh">
            <div class="animate__animated animate__fadeInDown animate__slow">
                <br>
                <d style="text-align:center"><h1>FORM PENDAFTARAN {{ role_pendaftaran }}</h1></d>
                {% if failed == 'duplicate' %}
                    <div class="alert alert-danger" role="alert">
                        Your email is already registered. Please login
                    </div>
                {% elif failed %}
                    <div class="alert alert-danger" role="alert">
                        Register failed. Please input a valid data
                    </div>
                {% elif success %}
                    <div class="alert alert-success" role="alert">
                        Register successful!<br/>
                        You will be redirected in <span id="reg-success-cnt">6...</span><br/>
                        <a href="{% url 'profil-home' %}">Click here</a> if you are not redirected automatically
                    </div>
                {% endif %}

                {% if role_pendaftaran == "KONSUMEN" %}
                    <form action="{% url 'login:form_register_konsumen' %}" method="POST">
                {% elif role_pendaftaran == "ADMIN" %}
                    <form action="{% url 'login:form_register_admin' %}" method="POST">
                {% elif role_pendaftaran == "KURIR" %}
                    <form action="{% url 'login:form_register_kurir' %}" method="POST">
                {% elif role_pendaftaran == "CS" %}
                    <form action="{% url 'login:form_register_cs' %}" method="POST">
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input name="email" type="email" class="form-control" id="id_email" required="required">
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input name="password" type="password" class="form-control" id="id_password">
                </div>
                <div class="form-group">
                    <label for="id_nama_lengkap">Nama Lengkap</label>
                    <input name="nama_lengkap" type="text" class="form-control" id="id_nama_lengkap">
                </div>
                <div class="form-group">
                    <label for="id_no_telepon">No Telepon</label>
                    <input name="no_telepon" type="text" class="form-control" id="id_no_telepon">
                </div>
                {% if role_pendaftaran == "KONSUMEN" %}
                    <div class="form-group">
                        <label for="id_jenis_kelamin">Jenis Kelamin</label>
                        <input name="jenis_kelamin" type="text" class="form-control" id="id_jenis_kelamin">
                    </div>
                    <div class="form-group">
                        <label for="id_tanggal_lahir">Tanggal Lahir</label>
                        <input name="tanggal_lahir" type="date" class="form-control" id="id_tanggal_lahir">
                    </div>
                    <div>
                        <h6>Alamat:</h6>
                        <div id="id_list_alamat">
                            <div id="id_container_alamat_1">
                                <button type="button" class="btn btn-danger" style="margin-right: 5px;"
                                        onclick="removeAlamat(1)" id="button_alamat_1">-
                                </button>
                                <input type="text" class="form-control" name="status_alamat_1" id="id_status_alamat_1"
                                       style="max-width: 200px; display: inline;" placeholder="Status Alamat">
                                <input type="text" class="form-control" name="nama_alamat_1" id="id_nama_alamat_1"
                                       style="max-width: 200px; display: inline;" placeholder="Nama Alamat">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" style="margin-right: 5px; margin-top: 5px;"
                                onclick="addAlamat()">+
                        </button>
                    </div>
                {% elif role_pendaftaran == "KURIR" %}
                    <div class="form-group">
                        <label for="id_nama_perusahaan">Nama Perusahaan</label>
                        <input name="id_nama_perusahaan" type="text" class="form-control" id="id_nama_perusahaan">
                    </div>
                {% elif role_pendaftaran == "CS" %}
                    <div class="form-group">
                        <label for="id_no_ktp">No KTP</label>
                        <input name="id_no_ktp" type="text" class="form-control" id="id_no_ktp">
                    </div>
                    <div class="form-group">
                        <label for="id_no_sia">No SIA</label>
                        <input name="id_no_sia" type="text" class="form-control" id="id_no_sia">
                    </div>
                {% elif role_pendaftaran == "ADMIN" %}
                    <div class="form-group">
                        <label for="id_apotek">ID Apotek</label>
                        <select class="form-control" id="id_apotek" name="id_apotek">
                            {% for id in list_idapotek %}
                                <option>{{ id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary" style='margin-top: 5px;'>Submit</button>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% if success %}
        <script>
            $( document ).ready(function() {
                let regSuccessCnt = 6;
                let autoRedirect = setInterval(function() {
                    --regSuccessCnt;
                    if (regSuccessCnt >= 0) {
                        document.getElementById("reg-success-cnt").innerText = regSuccessCnt + "...";
                    }
                    if (regSuccessCnt == 0) {
                        clearInterval(autoRedirect);
                        window.location.replace("{% url 'profil-home' %}");
                    }
                }, 1000)
            });
        </script>
    {% endif %}
    <script>
        var count_alamat = 1

        function addAlamat() {
            count_alamat++;

            const new_alamat_container = document.createElement("div")
            new_alamat_container.id = `id_container_alamat_${count_alamat}`

            new_alamat_container.innerHTML =
                `<button type="button" class="btn btn-danger" style="margin-right: 5px;" onclick="removeAlamat(${count_alamat})" id="button_alamat_${count_alamat}">-</button>
      <input type="text" class="form-control" name="status_alamat_${count_alamat}" id="id_status_alamat_${count_alamat}" style="max-width: 200px; display: inline;" placeholder="Status Alamat">
      <input type="text" class="form-control" name="nama_alamat_${count_alamat}" id="id_nama_alamat_${count_alamat}" style="max-width: 200px; display: inline;" placeholder="Nama Alamat">`

            const list_alamat = document.getElementById("id_list_alamat")
            list_alamat.appendChild(new_alamat_container)
        }

        function removeAlamat(number) {
            const list_alamat = document.getElementById("id_list_alamat")
            if (list_alamat.children.length > 1) {
                const alamat = document.getElementById(`id_container_alamat_${number}`)
                list_alamat.removeChild(alamat);
            }
        }

    </script>
{% endblock %}