{% extends 'home.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/animate.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height:100vh">
            <div class="animate__animated animate__fadeInDown animate__slow">
                <d style="text-align:left"><h1>Login</h1></d>
                {% if failed %}
                    <div class="alert alert-danger" role="alert">
                        Wrong email/password
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'login:form_login_submit' %}">
                    {% csrf_token %}
                    <div class="form-group" style="margin-top:1rem">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                               style="max-width: 300px; display: inline;">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               style="max-width: 300px; display: inline;">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
