{% extends 'home.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/awesomebg.css' %}">
{% endblock %}

{% block content %}
    <canvas id="scene"></canvas>
    <input id="copy" type="hidden" value="FarmaKami ♥"/>
    <div id="info">
        <hr class="animate__animated animate__fadeIn animate__slow"/>
        <div class="animate__animated animate__fadeIn animate__slow animate__delay-1s">
            <h1>FarmaKami</h1>
        </div>
        <div class="animate__animated animate__fadeIn animate__slow animate__delay-2s">
            <a href="{% url 'login:form_login' %}">
                <button type="button" class="btn btn-primary" style="margin-right: 5px;">Login</button>
            </a>
            <a href="{% url 'login:register' %}">
                <button type="button" class="btn btn-success" style="margin-left: 5px;">Register</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'login/awesomebg.js' %}"></script>
{% endblock %}
