{% extends 'home.html' %}

{% block title %}Register{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height:100vh">
            <div>
                <d style="text-align:center"><h4>Pilih Role</h4></d>
                <d style="display: flex; justify-content: center;">
                    <a href="{% url 'login:form_register' role='admin' %}">
                        <button type="button" class="btn btn-success" style="margin-right: 5px;">Admin Apotek</button>
                    </a>
                    <a href="{% url 'login:form_register' role='konsumen' %}">
                        <button type="button" class="btn btn-success" style="margin-right: 5px;">Konsumen</button>
                    </a>
                    <a href="{% url 'login:form_register' role='kurir' %}">
                        <button type="button" class="btn btn-success" style="margin-right: 5px;">Kurir</button>
                    </a>
                    <a href="{% url 'login:form_register' role='cs' %}">
                        <button type="button" class="btn btn-success" style="margin-right: 5px;">CS</button>
                    </a>
                </d>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}