{% extends 'home.html' %}

{% block content %}
<div class="container">
  <d style="text-align:center"><h1>FORM CREATE PRODUK APOTEK</h1></d>

  {% if messages %}
      <div class="alert alert-danger" role="alert">
          <h5 class="alert-heading">Gagal melakukan pembuatan Apotek</h5>
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
      </div>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{forms.id_apotek.label_tag}}
        <br>
        {{forms.id_apotek}}
      </div>
      <div class="form-group">
        {{forms.id_produk.label_tag}}
        <br>
        {{forms.id_produk}}
      </div>
      <div class="form-group">
        {{forms.harga_jual.label_tag}}
        <br>
        {{forms.harga_jual}}
      </div>
      <div class="form-group">
        {{forms.satuan_penjualan.label_tag}}
        <br>
        {{forms.satuan_penjualan}}
      </div>
      <div class="form-group">
        {{forms.stok.label_tag}}
        <br>
        {{forms.stok}}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}