{% extends 'home.html' %}

{% block content %}
<d style="text-align:center"><h1>List Produk Apotek</h1></d>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID Produk</th>
        <th scope="col">ID Apotek</th>
        <th scope="col">Harga Jual</th>
        <th scope="col">Satuan Penjualan</th>
        <th scope="col">Stok</th>
        {% if 'admin_apotek' in request.session.role %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for produk_apotek in rows %}
      <tr>
        <td>
          {{ produk_apotek.id_produk }}
        </td> 
        <td>
          {{ produk_apotek.id_apotek }}
        </td>
        <td>
          {{ produk_apotek.harga_jual }}
        </td>
        <td>
          {{ produk_apotek.satuan_penjualan }}
        </td>
        <td>
          {{ produk_apotek.stok }}
        </td>
        {% if 'admin_apotek' in request.session.role %}
        <td>
          <a href="{% url 'produk_apotek:update_produk_apotek' produk_apotek.id_apotek produk_apotek.id_produk %}">
              <button type="button" class="btn btn-success">Update</button>
          </a>
          <a href="{% url 'produk_apotek:delete_produk_apotek' produk_apotek.id_apotek produk_apotek.id_produk %}">
              <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}