{% extends 'home.html' %}

{% block content %}
<d style="text-align:center"><h1>List Apotek</h1></d>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID Apotek</th>
        <th scope="col">Nama Apotek</th>
        <th scope="col">Alamat Apotek</th>
        <th scope="col">No Telp Apotek</th>
        <th scope="col">Nama Penyelenggara</th>
        <th scope="col">Nomor SIA Penyelenggara</th>
        <th scope="col">Email Penyelenggara</th>
        {% if 'admin_apotek' in request.session.role %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for apotek in rows %}
      <tr>
        <td>
          {{ apotek.id_apotek }}
        </td>
        <td>
          {{ apotek.nama_apotek }}
        </td>
        <td>
          {{ apotek.alamat_apotek }}
        </td>
        <td>
          {{ apotek.telepon_apotek }}
        </td>
        <td>
          {{ apotek.nama_penyelenggara }}
        </td>
        <td>
          {{ apotek.no_sia }}
        </td>
        <td>
          {{ apotek.email }}
        </td>
        {% if 'admin_apotek' in request.session.role %}
        <td>
          <a href="{% url 'apotek:update_apotek' apotek.id_apotek %}">
            <button type="button" class="btn btn-success" id={{apotek.id_apotek}}>Update</button>
          </a>
          <a href="{% url 'apotek:delete_apotek' apotek.id_apotek %}">
              <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}