{% extends 'home.html' %}

{% block content %}
<div class="container">
  <d style="text-align:center"><h1>FORM CREATE APOTEK</h1></d>
  
  {% if messages %}
      <div class="alert alert-danger" role="alert">
          <h5 class="alert-heading">Gagal melakukan pembuatan Apotek</h5>
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
      </div>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{forms.nama_apotek.label_tag}}
      <br>
      {{forms.nama_apotek}}
    </div>
    <div class="form-group">
      {{forms.alamat_apotek.label_tag}}
      <br>
      {{forms.alamat_apotek}}
    </div>
    <div class="form-group">
      {{forms.telp_apotek.label_tag}}
      <br>
      {{forms.telp_apotek}}
    </div>
    <div class="form-group">
      {{forms.nama_penyelenggara.label_tag}}
      <br>
      {{forms.nama_penyelenggara}}
    </div>
    <div class="form-group">
      {{forms.no_sia_penyelenggara.label_tag}}
      <br>
      {{forms.no_sia_penyelenggara}}
    </div>
    <div class="form-group">
      {{forms.email_penyelenggara.label_tag}}
      <br>
      {{forms.email_penyelenggara}}
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}