{% extends 'home.html' %}

{% block title %}Create Pengantaran Farmasi{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Form Pengantaran Farmasi</h1>
        <br>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <h5 class="alert-heading">ERROR: Gagal melakukan pembuatan Pengantaran Farmasi</h5>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <br>
        <form method="POST" action="{% url 'pf-create-submit' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <label for="IDTransaksiPembelian" class="col-sm-3 col-form-label">ID Transaksi:</label>
                <div class="col-sm-3"><select class="form-control" id="transaksi" name="transaksi">
                    {% for id_transaksi in list_idtransaksi %}
                        <option>{{ id_transaksi }}</option>
                    {% endfor %}
                </select></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="waktu" class="col-sm-3 col-form-label">Waktu: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="waktu" name="waktu"
                                             placeholder="2020-05-27 10:00:00"></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="biayakirim" class="col-sm-3 col-form-label">Biaya Kirim: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="biayakirim" name="biayakirim"
                                             placeholder="10000"></div>
            </div>
            <br>
            <div class="col text-center">
                <input type="submit" class="btn btn-info btn-sm text-center" value="Submit"></div>
        </form>
    </div>
{% endblock %}