{% extends 'home.html' %}

{% block title %}Daftar Pengantaran Farmasi{% endblock %}

{% block content %}
    <div class="px-4">
        <h1 class="text-center display-4">Daftar Pengantaran Farmasi</h1>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center align-middle" scope="col">ID Pengantaran</th>
                    <th class="text-center align-middle" scope="col">ID Kurir</th>
                    <th class="text-center align-middle" scope="col">ID Transaksi Pembelian</th>
                    <th class="text-center align-middle" scope="col">Waktu</th>
                    <th class="text-center align-middle" scope="col">Status Pengantaran</th>
                    <th class="text-center align-middle" scope="col">Biaya Kirim</th>
                    <th class="text-center align-middle" scope="col">Total Biaya</th>
                    {% if 'admin_apotek' in request.session.role %}
                        <th class="text-center align-middle" scope="col">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        {% for col in row %}
                            <td>
                                {% if col %}
                                    {{ col }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% if 'admin_apotek' in request.session.role %}
                            <td class="align-middle">
                                <a class="btn btn-info btn-sm" href="{% url 'pf-update' idpengantaran=row.0 %}"
                                   role="button">Update</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'pf-delete' idpengantaran=row.0 %}"
                                   role="button">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}