{% extends 'home.html' %}

{% block title %}Update Pengantaran Farmasi{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Form Update Pengantaran Farmasi</h1>
        <br>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <h5 class="alert-heading">ERROR: Gagal melakukan update Pengantaran Farmasi</h5>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <br>
        <form method="POST" action="{% url 'pf-update-submit' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <label for="pengantaran" class="col-sm-3 col-form-label">ID Pengantaran: </label>
                <div class="col-sm-3"><input type="text" id="pengantaran" class="form-control" name="pengantaran"
                                             value="{{ data.0 }}" readonly></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="kurir" class="col-sm-3 col-form-label">ID Kurir: </label>
                <div class="col-sm-3"><input type="text" id="kurir" class="form-control" name="kurir"
                                             value="{{ data.1 }}" readonly></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="transaksi" class="col-sm-3 col-form-label">ID Transaksi: </label>
                <div class="col-sm-3"><input type="text" id="transaksi" class="form-control" name="transaksi"
                                             value="{{ data.2 }}" readonly></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="waktu" class="col-sm-3 col-form-label">Waktu: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="waktu" name="waktu"
                                             value="{{ waktu }}" readonly></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="status" class="col-sm-3 col-form-label">Status: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="status" name="status"
                                             value="{{ data.4 }}"></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="biayakirim" class="col-sm-3 col-form-label">Biaya Kirim: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="biayakirim" name="biayakirim"
                                             value="{{ data.5 }}" onchange="biaya(this.value)"></div>
            </div>
            <div class="form-group row justify-content-center">
                <label for="totalbiaya" class="col-sm-3 col-form-label">Total Biaya: </label>
                <div class="col-sm-3"><input type="text" class="form-control" id="totalbiaya" name="totalbiaya"
                                             value="{{ data.6 }}" readonly></div>
            </div>
            <br>
            <div class="col text-center">
                <input type="submit" class="btn btn-info btn-sm text-center" value="Update">
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        function biaya(biayakirim) {
            var total = parseInt({{ biaya_transaksi }}) + parseInt(biayakirim);
            document.getElementById("totalbiaya").value = total;
        }
    </script>
{% endblock %}