{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>FarmaKami | {% block title %}{% endblock %}</title>
    
    <link rel="shortcut icon" href="{% static 'meta/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'meta/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'meta/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'meta/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'meta/manifest.json' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    {% block navbar %}
        {% include 'navbar_auth.html' %}
    {% endblock %}
    
    {% block content %}
        
    {% endblock %}
    
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>