<nav id = "navbar" class="navbar navbar-expand-lg navbar-light position-sticky fixed-top" style="background-color:#019875;">
    <a class="navbar-brand" href="{% url 'profil-home' %}">
        <div class="d-flex align-items-center">
            <h3>FarmaKami</h3>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
            <a class="nav-link" href="{% url 'profil-home' %}"><b>Profil</b></a>
        </li>
        <li class="dropdown nav-item ml-auto">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login:home_login' %}"><b>Balai Pengobatan <br> & Apotek</b></a>
            <ul class="dropdown-menu">
                {% if 'admin_apotek' in request.session.role %}<li><a class="nav-link" href="{% url 'balai_pengobatan_create' %}">Buat Balai Pengobatan</a></li>{% endif %}
                <li><a class="nav-link" href="{% url 'balai_pengobatan_read' %}">Daftar Balai Pengobatan</a></li>
                {% if 'admin_apotek' in request.session.role %} <li><a class="nav-link" href="{% url 'apotek:create_apotek' %}">Buat Apotek</a></li> {% endif %}
                <li><a class="nav-link" href="{% url 'apotek:rud_apotek' %}">Daftar Apotek</a></li>
                </ul>
        </li>
        <li class="dropdown nav-item ml-auto">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login:home_login' %}"><b>Transaksi Pembelian <br> & Transaksi Resep</b></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'tbeli-create' %}">Buat Transaksi Pembelian</a></li>
                <li><a class="nav-link" href="{% url 'tbeli-read' %}">Daftar Transaksi Pembelian</a></li>
                </ul>
        </li>
        <li class="dropdown nav-item ml-auto">
            {% if 'admin_apotek' in request.session.role %}
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login:home_login' %}"><b>Produk Apotek</b></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'produk_apotek:create_produk_apotek' %}">Buat Produk Apotek</a></li>
                <li><a class="nav-link" href="{% url 'produk_apotek:rud_produk_apotek' %}">Daftar Produk Apotek</a></li>
                </ul>
            {% else %}
            <a class="nav-link" href="{% url 'produk_apotek:rud_produk_apotek' %}"><b>Daftar Produk Apotek</b></a>
            {% endif %}
        </li>
        <li class="dropdown nav-item ml-auto">  
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login:home_login' %}"><b>List Produk Dibeli</b></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'pd-create' %}">Buat List Produk Dibeli</a></li>
                <li><a class="nav-link" href="{% url 'pd-rud' %}">Daftar Produk Dibeli</a></li>
                </ul>
        </li>
        <li class="dropdown nav-item ml-auto">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login:home_login' %}"><b>Pengantaran Farmasi</b></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'pf-create' %}">Buat Pengantaran Farmasi</a></li>
                <li><a class="nav-link" href="{% url 'pf-rud' %}">Daftar Pengantaran Farmasi</a></li>
                </ul>
        </li>
        <li class="dropdown nav-item ml-auto">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'login:home_login' %}"><b>Obat</b></a>
            <ul class="dropdown-menu">
                {% if 'apoteker' in request.session.role %}<li><a class="nav-link" href="{% url 'obat_create' %}">Buat Obat</a></li>{% endif %}
                <li><a class="nav-link" href="{% url 'obat_read' %}">Daftar Obat</a></li>
                </ul>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="{% url 'login:home_logout' %}"><b>Logout</b></a>
        </li>
        </ul>
    </div>
</nav>
