.container {
  padding-bottom: 150px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  min-height: 36px;
}

.select2-dropdown {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 5px;
}