{% extends 'home.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Buat Transaksi Pembelian</h1>
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="col text-center">
                <button type="submit" class="btn btn-info text-center">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}