{% extends 'home.html' %}

{% block content %}
    <div>
        <h1 class="text-center display-4">Daftar Transaksi Pembelian</h1>
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Transaksi</th>
                    <th scope="col">Waktu Pembelian</th>
                    <th scope="col">Total Pembelian</th>
                    {% if 'konsumen' not in request.session.role or request.session.role|length > 1 %}
                        <th scope="col">ID Konsumen</th>
                    {% endif %}
                    {% if 'admin_apotek' in request.session.role %}
                        <th scope="col">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                <tr>
                    <td class="align-middle">{{ row.id_transaksi_pembelian }}</td>
                    <td class="align-middle">{{ row.waktu_pembelian }}</td>
                    <td class="align-middle">{{ row.total_pembayaran }}</td>
                    {% if 'konsumen' not in request.session.role or request.session.role|length > 1 %}
                        <td class="align-middle">{{ row.id_konsumen }}</td>
                    {% endif %}
                    {% if 'admin_apotek' in request.session.role %}
                        <td class="align-middle">
                            <a href="{% url 'tbeli-update' row.id_transaksi_pembelian %}"><button type="button" class="btn btn-info btn-sm">Update</button></a>
                            <a href="{% url 'tbeli-delete' row.id_transaksi_pembelian %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
