{% extends 'home.html' %}

{% load static %}

{% block title %}Create Balai Pengobatan{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'balai_pengobatan/myselect2style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center display-4 pt-3 pb-4">Create Balai Pengobatan</h1>
    {% if failed %}
    <div class="alert alert-danger" role="alert">
      Failed to create Balai Pengobatan
    </div>
    {% endif %}
    <form method="POST" action="{% url 'balai_pengobatan_create_submit' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Alamat Balai:</label>
            <input name="alamat_balai" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Nama Balai:</label>
            <input name="nama_balai" class="form-control" type="text" maxlength="50" />
        </div>
        <div class="form-group">
            <label>Jenis Balai:</label>
            <input name="jenis_balai" class="form-control" type="text" maxlength="30" />
        </div>
        <div class="form-group">
            <label>Telepon Balai:</label>
            <input name="telepon_balai" class="form-control" type="text" maxlength="20" />
        </div>
        <div class="form-group">
            <label>Daftar ID Apotek berasosiasi:</label>
            <select class="js-example-basic-multiple form-control" name="apotek_yang_berasosiasi[]" multiple="multiple" style="width: 100%">
                {% for id_apotek in apotek_lst %}
                    <option value="{{ id_apotek }}">{{ id_apotek }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="SUBMIT" />
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'balai_pengobatan/myselect2script.js' %}"></script>
{% endblock %}
