{% extends 'home.html' %}

{% block title %}List Balai Pengobatan{% endblock %}

{% block content %}
<div class="px-4">
  <h1 class="text-center display-4 py-3">List Balai Pengobatan</h1>
  {% if success == 'create' %}
    <div class="alert alert-success" role="alert">
      Balai pengobatan successfully created
    </div>
  {% endif %}
  {% if success == 'update' %}
    <div class="alert alert-success" role="alert">
      Balai pengobatan successfully updated
    </div>
  {% endif %}
  {% if success == 'delete' %}
    <div class="alert alert-success" role="alert">
      Balai pengobatan successfully deleted
    </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          {% for col in header %}
            <th class="text-center align-middle" scope="col">{{ col }}</th>
          {% endfor %}
          {% if 'admin_apotek' in request.session.role %}
            <th class="text-center align-middle" scope="col">Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            {% for col in row %}
              <td class="align-middle">
                {% if col and col == row.5 %}
                  {% for apotek in col %}
                    <li>{{ apotek }}</li>
                  {% endfor %}
                {% elif col %}
                  {{ col }}
                {% endif %}
              </td>
            {% endfor %}
          
            {% if 'admin_apotek' in request.session.role %}
              <td class="text-center align-middle">
                <a href="{% url 'balai_pengobatan_update' id_balai=row.0 %}"><button class="btn btn-primary">Update</button></a>
                <a href="{% url 'balai_pengobatan_delete' id_balai=row.0 %}"><button class="btn btn-danger">Delete</button></a>
                {% if row.0 == faildelete %}
                  <div class="alert alert-danger mt-2 mb-0" role="alert">
                    Failed deleting row
                  </div>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}