{% extends 'home.html' %}

{% load static %}

{% block title %}Update Balai Pengobatan{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'balai_pengobatan/myselect2style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center display-4 pt-3 pb-4">Update Balai Pengobatan</h1>
    {% if failed %}
    <div class="alert alert-danger" role="alert">
      Failed to update Balai Pengobatan
    </div>
    {% endif %}
    <form method="POST" action="{% url 'balai_pengobatan_update_submit' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>ID Balai:</label>
            <input name="id_balai" class="form-control" type="text" value="{{ data.0 }}" readonly />
        </div>
        <div class="form-group">
            <label>Alamat Balai:</label>
            <input name="alamat_balai" class="form-control" type="text" value="{{ data.1 }}" />
        </div>
        <div class="form-group">
            <label>Nama Balai:</label>
            <input name="nama_balai" class="form-control" type="text" value="{{ data.2 }}" maxlength="50" />
        </div>
        <div class="form-group">
            <label>Jenis Balai:</label>
            <input name="jenis_balai" class="form-control" type="text" value="{{ data.3 }}" maxlength="30" />
        </div>
        <div class="form-group">
            <label>Telepon Balai:</label>
            <input name="telepon_balai" class="form-control" type="text" value="{{ data.4 }}" maxlength="20" />
        </div>
        <div class="form-group">
            <label>Daftar ID Apotek berasosiasi:</label>
            <select class="js-example-basic-multiple form-control" name="apotek_yang_berasosiasi[]" multiple="multiple" style="width: 100%">
                {% for apotek in apotek_lst %}
                    {% if apotek.1 %}
                        <option value="{{ apotek.0 }}" selected>{{ apotek.0 }}</option>
                    {% else %}
                        <option value="{{ apotek.0 }}">{{ apotek.0 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="SUBMIT"></input>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'balai_pengobatan/myselect2script.js' %}"></script>
{% endblock %}
