{% extends 'home.html' %}

{% load static %}

{% block title %}Create Obat{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center display-4 pt-3 pb-4">Create Obat</h1>
    {% if failed %}
    <div class="alert alert-danger" role="alert">
      Failed to create Obat
    </div>
    {% endif %}
    <form method="POST" action="{% url 'obat_create_submit' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlSelect1">ID Merk Obat:</label>
            <select name="id_merk_obat" class="form-control" id="exampleFormControlSelect1">
                {% for merk_obat in merk_obat_lst %}
                    <option>{{ merk_obat }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Netto:</label>
            <input name="netto" class="form-control" type="text" maxlength="10" />
        </div>
        <div class="form-group">
            <label>Dosis:</label>
            <input name="dosis" class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label>Aturan Pakai:</label>
            <input name="aturan_pakai" class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label>Kontraindikasi:</label>
            <input name="kontraindikasi" class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label>Bentuk Kesediaan:</label>
            <input name="bentuk_kesediaan" class="form-control" type="text"/>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="SUBMIT"></input>
        </div>
    </form>
</div>
{% endblock %}