{% extends 'home.html' %}

{% load static %}

{% block title %}Update Obat{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center display-4 pt-3 pb-4">Update Obat</h1>
    {% if failed %}
    <div class="alert alert-danger" role="alert">
      Failed to update Obat
    </div>
    {% endif %}
    <form method="POST" action="{% url 'obat_update_submit' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>ID Obat:</label>
            <input name="id_obat" class="form-control" type="text" value="{{ data.0 }}" readonly/>
        </div>
        <div class="form-group">
            <label>ID Produk:</label>
            <input name="id_produk" class="form-control" type="text" value="{{ data.1 }}" readonly/>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">ID Merk Obat:</label>
            <select name="id_merk_obat" class="form-control" id="exampleFormControlSelect1">
                {% for merk_obat in merk_obat_lst %}
                    {% if merk_obat == data.2 %}
                        <option selected>{{ merk_obat }}</option>
                    {% else %}
                        <option>{{ merk_obat }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Netto:</label>
            <input name="netto" class="form-control" value="{{ data.3 }}" type="text" maxlength="10"/>
        </div>
        <div class="form-group">
            <label>Dosis:</label>
            <input name="dosis" class="form-control" value="{{ data.4 }}" type="text"/>
        </div>
        <div class="form-group">
            <label>Aturan Pakai:</label>
            <input name="aturan_pakai" class="form-control" value="{{ data.5 }}" type="text"/>
        </div>
        <div class="form-group">
            <label>Kontraindikasi:</label>
            <input name="kontraindikasi" class="form-control" value="{{ data.6 }}" type="text"/>
        </div>
        <div class="form-group">
            <label>Bentuk Kesediaan:</label>
            <input name="bentuk_kesediaan" class="form-control" value="{{ data.7 }}" type="text"/>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="SUBMIT"></input>
        </div>
    </form>
</div>
{% endblock %}