{% extends 'home.html' %}

{% block title %}List Obat{% endblock %}

{% block content %}
<div class="px-4">
  <h1 class="text-center display-4 py-3">List Obat</h1>
  {% if success == 'create' %}
    <div class="alert alert-success" role="alert">
      Obat successfully created
    </div>
  {% endif %}
  {% if success == 'update' %}
    <div class="alert alert-success" role="alert">
      Obat successfully updated
    </div>
  {% endif %}
  {% if success == 'delete' %}
    <div class="alert alert-success" role="alert">
      Obat successfully deleted
    </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          {% for col in header %}
            <th class="text-center align-middle" scope="col">{{ col }}</th>
          {% endfor %}
          {% if 'apoteker' in request.session.role %}
            <th class="text-center align-middle" scope="col">Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            {% for col in row %}
              <td class="align-middle">
                {% if col %}
                  {{ col }}
                {% endif %}
              </td>
            {% endfor %}
            {% if 'apoteker' in request.session.role %}
              <td class="text-center align-middle">
                <a href="{% url 'obat_update' id_obat=row.0 %}"><button class="btn btn-primary">Update</button></a>
                <a href="{% url 'obat_delete' id_obat=row.0 %}"><button class="btn btn-danger">Delete</button></a>
                {% if row.0 == faildelete %}
                <div class="alert alert-danger mt-2 mb-0" role="alert">
                  Failed deleting row
                </div>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}